# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config SAMPLING_INTERVAL
	int "Sampling Interval in Milliseconds"
	default 1000
	depends on SENSOR

config TRANSMISSION_INTERVAL
	int "Transmission Interval in Milliseconds. Mininum value of 1 guarantees correct system operation"
	default 1

config SEND_UART
	bool "Print data in buffer in console via UART"
	default UART_CONSOLE