# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

###
# Application Configs
###

config SAMPLING_INTERVAL
	int "Sampling Interval in Milliseconds"
	default 1000
	depends on SENSOR
	
config TRANSMISSION_INTERVAL
	int "Transmission Interval in Milliseconds. Mininum value of 1 guarantees correct system operation"
	default 1

config BUFFER_WORDS
	int "Number of 32-bit words the buffers can hold"
	default 45000 # Using 180 out of 256kB of memory
	depends on RING_BUFFER

###
# Transmission Configs
###

config SEND_UART
	bool "Print data in buffer in console via UART"
	default UART_CONSOLE

# LoRaWAN configs

config SEND_LORAWAN
	bool "Send data using LoRaWAN, given Pulga-LoRa shield is attached"
	depends on SHIELD_PULGA_LORA
	select LORAWAN

config LORAWAN_DR
	int "Fixed data rate to be used"
	depends on SEND_LORAWAN
	default 0

choice LORAWAN_ACTIVATION
	prompt "LoRaWAN activation mode used to join network"
	depends on SEND_LORAWAN
	default LORAWAN_ABP

# TODO: Missing storing and updating nonce in no nvolatile memory
config LORAWAN_OTAA
	bool "OTAA - more secure - dynamic key generation"

config LORAWAN_ABP
	bool "ABP - less secure - no key renewal"

endchoice

config LORAWAN_JOIN_COMPRESS
	bool "Join and compress data in the buffer to make the most of a packet size"
	select LZ4
	select LZ4_FRAME_SUPPORT
	default n
