# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

###
# Application Configs
###

config SAMPLING_INTERVAL
	int "Sampling Interval in Milliseconds"
	default 1000
	depends on SENSOR
	
config TRANSMISSION_INTERVAL
	int "Transmission Interval in Milliseconds. Mininum value of 1 guarantees correct system operation"
	default 1

config BUFFER_WORDS
	int "Number of 32-bit words the buffers can hold"
	default 45000 # Using 180 out of 256kB of memory
	depends on RING_BUFFER
	
config VBATT
	bool "Measure battery voltage through the ADC"
	default n
	select ADC
	depends on DT_HAS_VOLTAGE_DIVIDER_ENABLED

###
# Timestamp Configs
###

choice EVENT_TIMESTAMP_SOURCE
    prompt "Selects the source of the time reference used to timestamp events"
    default EVENT_TIMESTAMP_NONE
	help
	   To ensure correct interpretation of data, it's recommended to enable 
	   timestamping when joining LoRaWAN packets or when the sampling rate is much
	   higher than the transmission rate. 

config EVENT_TIMESTAMP_NONE
    bool "No timestamp"
    help
        Events will not be timestamped, leaving the time interpretation to the end user.

config EVENT_TIMESTAMP_UPTIME
    bool "Use system uptime, which is reset when the system is powered off."
    help
        Use only the system uptime, so the end user may need to infer the correspondent real time.

config EVENT_TIMESTAMP_LORAWAN
    bool "Use LoRaWAN network time"
    depends on LORAWAN
    help
        Get Posix time when joining LoRaWAN network and later infer 
		the current time using system uptime.

config EVENT_TIMESTAMP_GNSS
    bool "Use GNSS satellite time"
    depends on GNSS
    help
        Periodically gets Posix time from a GNSS module and, if needed,
		later infer the current time using system uptime.
endchoice

###
# Transmission Configs
###

config SEND_UART
	bool "Print data in buffer in console via UART"
	default UART_CONSOLE

###
# LoRaWAN Configs
###

config SEND_LORAWAN
	bool "Send data using LoRaWAN, given Pulga-LoRa shield is attached"
	depends on SHIELD_PULGA_LORA
	select LORAWAN

config LORAWAN_DR
	int "Fixed data rate to be used"
	depends on SEND_LORAWAN
	default 0

choice LORAWAN_ACTIVATION
	prompt "LoRaWAN activation mode used to join network"
	depends on SEND_LORAWAN
	default LORAWAN_ABP

# TODO: Missing storing and updating nonce in non volatile memory
config LORAWAN_OTAA
	bool "OTAA - more secure - dynamic key generation"

config LORAWAN_ABP
	bool "ABP - less secure - no key renewal"

endchoice

config LORAWAN_JOIN_PACKET
	bool "Join data in the buffer to make the most of a packet size"
	default n
