# Si1133 UV Index and Ambient Light Sensor configuration options
# Copyright (c) 2024 Edgar Bernardi Righi
# SPDX-License-Identifier: Apache-2.0

config SI1133
	bool "Si1133 UV Index and Ambient Light Sensor"
	select I2C
	default y
	depends on DT_HAS_SILABS_SI1133_ENABLED
	help
	  Enable driver for Si1133 UV Index and Ambient Light Sensor.

